body{margin:0;
padding:0;
font-family: ;
}

.header h1{
	color:#EE5A24;
	text-align: center;
}

.header h4{
	color:#c23616;
	text-align: center;
}

.fig-div img{
	height:300px;
	width:400px;
	padding-left:300px;
}
.content1 P{
	text-align: justify;
	text-decoration: italic;
}

.content1 p span{
	
	color:#c23616;
}

.content1 td{
	background:#c23616;
	color:#fff;
}